@import "tailwindcss";

@layer base {
  body {
    font-family: 'Raleway', ui-sans-serif, system-ui, -apple-system, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.num-font {
  font-family: 'Inter', sans-serif;
}


*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #DCDCDC;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #C7C7C7;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #66bae4;
}